public struct Parameters {
    public static let Headers = "<header>"
    public static let Path = "<path>"
    public static let Query = "<query>"
    public static let Body = "<body>"
    public static let Form = "<form>"
}