import LoopBackSwift

{{#operations}}public class {{classname}}: LoopBackAPI<{{baseName}}> {

    public required init(requestor: Requestable) {
        super.init(requestor: requestor, baseURL: { return NSURL("{{basePath}}")! })
    }

    public override var resourcePath: String? {
        return "{{resourcePath}}"
    }

{{#operation}}
    public func {{operationId}}({{#hasParams}}{{#allParams}}{{paramName}}: {{dataType}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{/hasParams}}) -> Observable<{{#successfulResponse}}{{dataType}}{{/successfulResponse}}> {
        return try request(
            .{{httpMethod}},
            path: "{{path}}"{{#hasHTTPParams}},
            parameters: HTTP.Parameters(
                {{#hasQueryParams}}query: [
    {{#queryParams}}{{^secondaryParam}}{{/secondaryParam}}                "{{paramName}}": {{paramName}}{{#hasMore}},
    {{/hasMore}}{{^hasMore}}
                ]{{/hasMore}}{{/queryParams}}{{/hasQueryParams}}{{#hasFormParams}}{{#hasQueryParams}},
            {{/hasQueryParams}}form: [
    {{#formParams}}{{^secondaryParam}}{{/secondaryParam}}                "{{paramName}}": {{paramName}}{{#hasMore}},
    {{/hasMore}}{{^hasMore}}
                ]{{/hasMore}}{{/formParams}}{{/hasFormParams}}{{#hasHeaderParams}}{{#hasFormParams}}{{^hasQueryParams}},
            {{/hasQueryParams}}{{#hasQueryParams}},
            {{/hasQueryParams}}{{/hasFormParams}}headers: [
    {{#headerParams}}{{^secondaryParam}}{{/secondaryParam}}                "{{paramName}}": {{paramName}}{{#hasMore}},
    {{/hasMore}}{{^hasMore}}
                ]{{/hasMore}}{{/headerParams}}{{/hasHeaderParams}}
            ){{/hasHTTPParams}}{{#successfulResponse}}{{#isListContainer}},
            collectionType: true{{/isListContainer}}{{/successfulResponse}}{{#hasBodyParam}},
            {{#bodyParam}}body: { return {{paramName}}.toJSONData() }{{/bodyParam}}{{/hasBodyParam}}
        )
    }{{#hasMore}}
    {{/hasMore}}
{{/operation}}
}
{{/operations}}
