import Foundation
import RealmSwift

public class RealmString : Object {
    public dynamic var value:String? = nil
}

public class RealmInt : Object {
    public dynamic var value:Int? = nil
}

public class RealmFloat : Object {
    public dynamic var value:Float? = nil
}

public class RealmDouble : Object {
    public dynamic var value:Double? = nil
}

public class RealmBool : Object {
    public dynamic var value:Bool? = nil
}